.form-control{
    width:45%;
    margin: auto;
    margin-top: 15px;
    padding-left: 10px;
    background-color:#170535;
    color:white
}
.card-text{
    background-color: rgb(20, 9, 31);
    color:white;
}